input, select, textarea {
    background:     black;
    border:         1px solid grey;
    border-radius:  8px;
    box-sizing:     border-box;
    color:          white;
    font:           inherit;
    height:         46px;
    max-width:      320px;
    padding:        0 12px;
    transition:     border-color 0.2s;
    width:          100%;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: var(--accent);
}

textarea:focus {
    height:320px;
}