<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>{% block title %}LittlePepe{% endblock %}</title>


    <link rel="preload" href="{{ base.css_critical }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ base.css_critical }}"></noscript>

    <link rel="preload" href="{{ base.css_style }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ base.css_style }}"></noscript>

</head>
<body>
    <div id="div-background">
        <video id="video-background" autoplay muted loop playsinline preload="metadata" poster="{{ base.poster }}">
            <source src="{{ base.video_src }}" type="video/mp4">
        </video>
    </div>
<header class="navbar glass">
    <nav class="nav-container">
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/photos">Photos</a></li>
            <li><a href="/videos">Videos</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
</header>

<main id="content" class="container">
    <fieldset id="main" class="main">
    {% block content %}{% endblock %}
    </fieldset>
</main>

<footer class="glass">
    <div class="copyright">
        &copy; {{ "" | current_year }} MaangFrame.com
    </div>
</footer>

</body>
</html>
